/* reset/main */
@import './components/reset.css';
@import './components/layout.css';
/* 3rd party components */
/* your components */
@import './components/button.css';
@import './components/faq.css';
@import './components/footer.css';
@import './components/form.css';
@import './components/gallery.css';
@import './components/header.css';
@import './components/hero-home.css';
@import './components/pricing.css';
@import './components/testimonials.css';
@import './components/mouse.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import './components/section-title.css';
/*
***********************************************
CUSTOM HOME PAGE STYLES GOES BELOW THIS COMMENT
***********************************************
*/

/* main style */
/* loader */
/* header */
/* hero */
/* about */
.align-items-center {
    align-items: center;
}
.about__hero {
    /* height: auto; */
    position: relative;
    /* padding: 0 0 126% 0; */
}

.about__hero-image {
    max-width: 90%;
    position: relative;
    margin-left: 14px;
    z-index: 1;
}

.about__hero::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 3%;
    left: 3%;
    bottom: 0%;
    border-radius: 7px;
    border: 16px solid #e9ecef;    
}

.about__content {
    margin-left: 45px;
    align-self: center;
}

.about__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #e54b4b;
}

.about__subtitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #161c2d;
}

.about__subtitle > span {
    color: #e54b4b;
}

.about__text {
    font-size: 15px;
    margin-bottom: 16px;
    color: #8492a6;
    line-height: 27px;
    letter-spacing: 0.43px;
}

.about__signature {
    margin-bottom: 24px;
}
/* hobbies */
/* project done */

.projects{
}
    .container.projects{
        background-position: center center;
        height: 253px;
        border-radius: 10px;
    }
        .section-projects{
            display: inline-block;
            text-align: center;
            width: 100%;
            color: #ffffff;
            align-self: center;
            line-height: 1.5;
        }
            .icon-projects{
                color: #e54b4b;
                height: 32px;
                width: 32px;
            }
            .h3-projects{
                font-family: "Montserrat", sans-serif;
                margin-top: 16px;
                margin-bottom: 8px;
                font-size: 30px;
                font-weight: 600;
            }
            .h6-projects{
                font-size: 16px;
                font-family: "Montserrat", sans-serif;
                font-weight: 400;            
            }

    @media (max-width: 1200px){
        .container.projects{
            height: 410px;
        }
    }

/* services */
/* resume */
/* skill */
/* portfolio */
/* testimonial */
/* blog */
/* freelancer */
/* contact */
/* footer */
/* back top */
/* style swicher */
