/* reset/main */
@import './components/reset.css';
@import './components/layout.css';
/* 3rd party components */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
/* your components */
@import './components/button.css';
@import './components/faq.css';
@import './components/footer.css';
@import './components/form.css';
@import './components/gallery.css';
@import './components/header.css';
@import './components/hero-home.css';
@import './components/pricing.css';
@import './components/testimonials.css';
@import './components/mouse.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import './components/contact-me.css';
=======
@import './components/section-title.css';
/*
***********************************************
CUSTOM HOME PAGE STYLES GOES BELOW THIS COMMENT
***********************************************
*/

/* main style */
/* loader */
/* header */
/* hero */
.hero .hero-mouse {
    bottom: 30px;
}
/* about */

.align-items-center {
    align-items: center;
}

.about {
    padding-top: 100px;
}

.about__hero {
    position: relative;
}

.about__hero-image {
    max-width: 90%;
    position: relative;
    z-index: 1;
}

.about__hero::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0%;
    border-radius: 7px;
    border: 16px solid #e9ecef;    
}

.about__title {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #e54b4b;
}

.about__subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #161c2d;
}

.about__subtitle > span {
    color: #e54b4b;
}

.about__text {
    font-size: 15px;
    margin-bottom: 16px;
    color: #8492a6;
    line-height: 27px;
    letter-spacing: 0.43px;
    font-family: "Roboto", sans-serif;
}

.about__signature {
    margin-bottom: 24px;
}

.about__signature-image {
    max-width: 100%;
    height: 22px;
}

@media screen and (min-width: 768px) {
    .about__content {
        margin-left: 40px;
    }
}

/* hobbies */
.interests-desc {
    -webkit-transition: all 0.2s ease;
    transition:all 0.2s ease;
}

.interests-desc .hobbies:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 55px;
    background: #e9ecef;
    z-index: 1;
}

.interests-desc .icon {
    width: 40px;
    -webkit-transition: all 0.2 ease;
    transition: all 0.2 ease;
}

.interests-desc .title {
    font-weight: 500;
}

.interests-desc:hover {
    background: #fff;
    -webkit-box-shadow: 0 10px 25px rgba(60, 72, 88, 0.15);
            box-shadow: 0 10px 25px rgba(60, 72, 88, 0.15);
            -webkit-transform: translateY(-5px);
                    transform: translateY(-5px);
}

.interests-desc:hover .icon {
    color: #e54b4b
}

.rounded {
    border-radius: 7px;
}

.rounded-pill {
    border-radius: 30px;
}

.bg-light {
    background-color:#f9fafd;
}

.pb-3, .py-3 {
    padding-bottom: 1rem;
}

.py-3 {
    padding-top: 1rem;
}

.px-2 {
    padding-left: .8rem;
    padding-right: .5rem;
}

.position-relative {
    position:relative;
}

.text-center {
    text-align: center;
}

.mr-4 {
    margin-right: 1.5rem;
}

.section-title {
    position:relative;
    margin-bottom: 30px;
}

.mt-100 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.container .section-title {
    margin-top: 0px;
}

/* project done */

.projects{
}
    .container.projects{
        background-position: center center;
        height: 253px;
        border-radius: 10px;
    }
        .section-projects{
            display: inline-block;
            text-align: center;
            width: 100%;
            color: #ffffff;
            align-self: center;
            line-height: 1.5;
        }
            .icon-projects{
                color: #e54b4b;
                height: 32px;
                width: 32px;
            }
            .h3-projects{
                font-family: "Montserrat", sans-serif;
                margin-top: 16px;
                margin-bottom: 8px;
                font-size: 30px;
                font-weight: 600;
            }
            .h6-projects{
                font-size: 16px;
                font-family: "Montserrat", sans-serif;
                font-weight: 400;            
            }

    @media (max-width: 1200px){
        .container.projects{
            height: 410px;
        }
    }

/* services */
.container.services{
    padding-bottom: 100px;
    background-color: #f9fafd
}
        .services .services-cube{
        text-align: center;
        border: 1px solid #e9ecef;
        border-radius: 7px;
        position: relative;
        margin: 20px 20px 0 0;          
        }
            .services-cube .cube-container{
                padding: 40px 20px;
            }
                .services .cube-icon{
                    color: #e54b4b;
                    height: 32px;
                    width: 32px;
                }
                .services .cube-h5{
                    margin: 20px 0;
                    font-size: 18px;
                    font-family: "Montserrat", sans-serif;
                    line-height: 1.5;
                    color: #161c2d;
                    font-weight: 500;
                    
                }
                .services .cube-text{
                    color: #8492a6;
                    letter-spacing: 0.03em;
                    line-height: 1.8;
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    letter-spacing: 0.03em;
                }
                .services .cube-icon-grow{
                    color: #e54b4b;
                    position: absolute;
                    right:0;
                    bottom: 0;
                    opacity: 0.04;
                    height: 32px;
                    width: 32px;
                    transition: all 1s;
                }
    .services-cube:hover .cube-icon-grow{
        height:200px;
        width: 200px;
        transition: all 1s;
    }
    .services-cube:hover .cube-h5{
        transition: all 0.5s;
        color: #e54b4b;
    }
    .services .services-cube:hover{
        box-shadow: 0 10px 25px rgba(60, 72, 88, 0.15);
        transform: translateY(-5px);
        border-color: transparent; 
    }
    .services .services-cube:before{
        border-bottom: 2px solid #e54b4b;
        content: "";
        width: 0%;
        position: absolute;
        left: 50%;
        bottom: 0;
    }
    .services .services-cube:after{
    border-bottom: 2px solid #e54b4b;
    content: "";
    width: 0%;
    position: absolute;
    right: 50%;
    bottom: 0;
    }
    .services .services-cube:hover::before{
        width: 45%;
        transition: all 1s;
    }
    .services .services-cube:hover::after{    
        width: 45%;
        transition: all 1s;
    }


/* resume */
.resume {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}

.resume .section-title {
    margin: 0 0 30px 0;
}

.resume__icon {
    border: 2px solid #ced4da;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .resume__icon .far {
        padding-top: 7px;
        font-size: 22px;
        color: #161c2d;
    }


    .resume__timeline {
        position: relative;
        margin-left: 19px;
    }
        .resume__timeline::after {
            background-color: #ced4da;
            content: "";
            height: 95%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 2px;
        }

.resume__timeline-item:first-of-type {
    padding-top: 32px;
 }

.resume__timeline-item {
    display: inline-block;
    margin-bottom: 24px;
}

.resume__timeline-item:last-of-type {
     margin-bottom: 0;
 }

.date-label {
    float: left;
    border: 1px solid #e9ecef;
    border-radius: 10px;
    padding: 8px 24px;
    box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
    margin: 0 15px;
    position: relative;
}

.date-label:after {
    border: 2px solid #161c2d;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    z-index: 1;
    background-color: #f8f9fa;
    border-radius: 30px;
}

.description-block {
    padding: 24px;
    border: 1px solid #e9ecef;
    border-radius: 10px;
    margin-left: 15px;
    position: relative;
    top: 0;
}

.description-block:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    transition: all 0.2s ease-out;
    top: -4px;
}

.description-block:hover .description-block__title {
    color: #e54b4b;
}

.description-block__title {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #161c2d;
    margin-bottom: 4px;
}

.description-block__subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.2px;
    margin-bottom: 16px;
    color: #161c2d;
}

.description-block__text {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25.3px;
    color: #8492a6;
}

@media screen and (max-width: 767px) {
    .date-label:after {
        left: -21px;
    }
}

@media screen and (min-width: 768px) {
    .resume__icon {
        margin: 0 auto;
    }
    
    .resume__timeline {
        margin-left: 0;
    }
        .resume__timeline::after {
            margin: auto;
        }
    
        .resume__timeline-item:nth-child(2n) .row > :first-of-type{
            order: 2;
        }
    
        .resume__timeline-item:nth-child(2n) .date-label{
            float: left;
        }
    
        .resume__timeline-item:nth-child(2n) .date-label::after{
            left: -32px;
        }
    
        .resume__timeline-item:nth-child(2n) .description-block {
            direction:rtl;
            margin-left: 0;
            margin-right: 15px;
        }

    .date-label {
        float: right;
    }

    .date-label:after {
        right: -32px;
    }
}


/* skill */
.skill-logo{
    background: scroll center no-repeat;
    background-size: cover;
    height: 90vh;
    max-height: 900px;
}
.skill-right{
    align-self: center;
    margin-bottom: 200px;
}

.section-title.skill{
    width: 90%;
    justify-self: center;
}

.skill-buttons{
    margin-right: 50px;   
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}
    .skill-btn{
        width: 50%;
        margin-top: 30px;
        text-align: center;
        border: 1px solid #e9ecef;
        background-color: #ffffff;
        color: #161c2d;
        box-shadow: none; 
        outline:none;
        font-family: "Montserrat", sans-serif;
        line-height: 1.5;
        font-weight: 600;
    }
    .skill-btn-active{
        background-color: #e54b4b;
        color:  #e9ecef;
    }
    .skill-buttons .skill-btn:hover{
        background-color:#e54b4b;
    }
.skill-graphs{
    align-self: center;
}

    .skill-progress-bar{
        margin-top: 60px;
    }
        .skill-progress-visibile{
            position: relative;
            border-bottom: #e9ecef solid 10px;
            width: 100%;
            text-align: start;
        }
        .skill-progress-active{
            position: absolute;
            bottom: -10px;
            left:0;
            border-bottom: #e54b4b solid 10px;
            width: 0;
            text-align: end;
        }
            .skill-progress-active > .skill-level{
                position: absolute;
                left: 97%;
                bottom: 0%;
                margin-bottom: 10px;
                font-family: "Montserrat", sans-serif;
                line-height: 1.5;
                font-weight: 600;
            }
           .skill-progress-visibile .title{
            position: absolute;
            left: 0%;
            bottom: 0%;
            margin-bottom: 10px;
            font-family: "Montserrat", sans-serif;
            line-height: 1.5;
            font-weight: 400;
            } 

@media screen and (max-width: 1500px) {
    .skill-btn{
        width: 70%;
    }   
}
@media screen and (max-width: 1200px) {
    .skill-btn{
        width: 90%;
    }
}
@media screen and (max-width: 992px) {
    .skill-logo{
        height: 1200px;
        max-height: 1200px;
        width: 70%;
        margin-right: 0;     
        place-self: center;
    }
}
@media screen and (max-width: 768px) {
    .skill-btn{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    body > .skill.container-fluid{
        grid-template-columns: 1fr 540px 1fr;
    }
    .skill.container-fluid > .row.skill-row{
        grid-column: 2 / 3;
    }
    .skill-buttons{
        margin-right: 0%;
    }
    .skill-logo{
        display:none;
    }
    .section-title.skill {
        margin:0;
    }
}
    @media screen and (max-width: 575px) {
        body > .skill.container-fluid{
            grid-template-columns: 1fr;
        }
        .skill.container-fluid > .row.skill-row{
            grid-column: 1 / 2;
        }
}

/* portfolio */
.container.portfolio{
    background-color: #f9fafd;
}

.portfolio > .row > .portfolio-title{
    margin-top: 150px
}

.portfolio-buttons{
    text-align: center;
    margin: 25px 0 50px 0;
}
    .portfolio-btn{
       color: #3c4858;
       background-color:#f9fafd;
       font-size: 15px;
       font-family: "Roboto", sans-serif;
       font-weight: 400;
       padding: 2px 16px;
       line-height: 30px;
       border: 1px #f9fafd;
       border-radius: 7px;
    }
    .portfolio-btn:not(:first-of-type){
        margin-left: 8px
    }
    .portfolio-btn:hover{
        color:#f9fafd;
        background-color: #e54b4b;
        transition: all 0.4s ease-in-out;
    }
    .portfolio-btn:focus{
       outline: none;
    }
    .portfolio-btn-active{
        color:#f9fafd;
        background-color: #e54b4b;
    }

.portfolio-photo{
    box-shadow: 0 0 8px rgba(60, 72, 88, 0.15);
    opacity : 100%;
    width : 100%;
    height : 100%;
}
    .portfolio-img-cont{
        background-color: rgba(60, 72, 88, 0.65);
        overflow: hidden;
        position: relative;
    }
        .portfolio-img{
            max-width: 100%;
            
        }
        .svg-cont{
            height: 45px;
            width: 45px;
            line-height: 43px;
            background-color: #3c4858;
            position: absolute;
            bottom:30%;
            right: 44%;
            opacity: 0;
            transform: translateY(0px);
            transition: all 0.5s ease;
            border-radius: 30px;
            text-align:center;
        }
        .portfolio-hover-img{
            color: #f9fafd;
            margin-top: 8px;
        }
.portfolio-photo:hover{
    box-shadow: 0 10px 25px rgba(60, 72, 88, 0.15);
    transform: translateY(-5px);
    transition: all 0.5s ease;

}
.portfolio-photo:hover .portfolio-img{
    transition: all 0.5s ease;  
    opacity: 0.2;
    transform: rotate(2deg) scale(1.15);
}
.portfolio-photo:hover .svg-cont{
    transform: translateY(-40px);
    transition: all 0.5s ease;
    display: block;
    opacity: 1;
}
.svg-cont:hover{
    background-color: white;
}
.svg-cont:hover .portfolio-hover-img{
    color: #e54b4b;
}
.portfolio-text{
    padding: 30px 0;
    text-align:center;
}
    .portfolio-h5{
        font-family: "Montserrat", sans-serif;
        line-height: 1.5;
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .portfolio-p{
        font-family: "Roboto", sans-serif;
        overflow-x: hidden !important;
        font-size: 15px;
        color: #161c2d;
        font-weight: 400;
        line-height: 1.5;
    }
    .portfolio-h5:hover{
        color: red;
    }
    .portfolio-photo-hide{
        opacity : 0;
        width : 0;
        height : 0;
        transition : all 2s ease-in-out;
    }
/* testimonial */
/* blog */
/* freelancer */
/* contact */
/* footer */
/* back top */
/* style swicher */
