.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    z-index: 2;
    background-color: #fff;
}

.header.fixed {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 12px 33px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
    transition: all 0.2s ease-in-out;
}
    .header + * {
        padding-top: 92px;
    }
    .header .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
    }

    .header .logo{
        display: inline-block;
        text-align: start;
        align-self: center;
        height: 15px;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
        header .link{
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            color: #3c4858;
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 24px;
            padding: 8px;
            font-family: "Montserrat", sans-serif;
        }

        header .link.active{
            color: #e54b4b
        }
        .link:hover{
            color: #e54b4b
        }

       .header .social {
            text-decoration: none;
            border: #3c4858 solid 1px;
            border-radius: 7px;
            padding: 5px;
            color: #3c4858;
            height: 32px;
            width: 32px;
            text-align: center;
            font-size: 19px;
            
        }
           .social:hover{
                background-color:#e54b4b;
                color: white;
            }

        .header .menu {
            margin-right: -15px;
        }

@media screen and (max-width: 992px) {
    
    .navbar--collapse {
        width: 100%;
        height: 0;
        background-color: #fff;
        opacity: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }

    .navbar--collapse.open {
        opacity: 1;
        height: 242px;
    }

    .navbar .nav {
        overflow-y: auto;
    }

    .header .socials {
        margin-left: 8px;
        padding-bottom: 2px;
    }
}

@media screen and (min-width: 992px) {
    .header {
        padding: 20px 0;
        background-color: transparent;
    }

        .header .navbar {
            flex-direction: row;
            align-items: center;
        }

            .header .navbar .nav {
                margin-right: auto;
                margin-left: auto;
            }

            .header .navbar .nav .link {
                display: inline-block;
                margin: 0 8px;
            } 


        .header .menu {
            display: none;
        }

        .header .socials {
            display: inline-block;
        }
}