.header{
    width: 100%;
    padding: 20px 0;
}
    .header .logo{
        display: inline-block;
        text-align: start;
    }
    header .nav{
        text-align-last: justify; /* cia gal nelabai bet pagal dizain vistiek nuo 100px burgeris eina */
    }
        header .link{
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            color: #3c4858;
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 24px;
        }

        header .link:first-of-type{
            color: red;
        }
        .link:hover{
            color: red;
        }
    .header .socials{
        display: inline-block;
        text-align: end;    
    }
       .social{
            text-decoration: none;
            border: #3c4858 solid 1px;
            border-radius: 7px;
            padding: 5px;
            color: #3c4858;
            height: 32px;
            width: 32px;
            text-align: center;
            line-height: 30px;
            
        }
        .social:hover{
            background-color: red;
        }